GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=

LINKEDIN_ACCESS_TOKEN=
LINKEDIN_AD_ACCOUNT_ID=

META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=

TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
TWITTER_AD_ACCOUNT_ID=

BING_ADS_CLIENT_ID=
BING_ADS_CLIENT_SECRET=
BING_ADS_REFRESH_TOKEN=
BING_ADS_ACCOUNT_ID=
BING_ADS_DEVELOPER_TOKEN=
BING_ADS_CUSTOMER_ID=

TIKTOK_ACCESS_TOKEN=
TIKTOK_ADVERTISER_ID=

HUBSPOT_API_KEY=

HOCKEYSTACK_API_KEY=

SLACK_WEBHOOK_URL=

REPORTING_PERIOD_DAYS=7
